<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Campus Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/auth/login.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Add any additional CSS or external libraries here -->
</head>
<body>
    <header>
      <!--
        <div class="logo">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Rental Management System">
        </div>
      -->
        <h1>Welcome to Campus Connect, Let's do this.!</h1>
        <p>Discover the easiest way to find or register your ideal student accomodation.</p>
    </header>

    <main>
        <form id="login-form" action="{{ url_for('auth.login') }}" method="POST">
            <div class="form-group">
                <label for="username"><i class="fas fa-user"></i> Username or Email</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password"><i class="fas fa-lock"></i> Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <input type="checkbox" id="remember-me">
                <label for="remember-me">Remember Me</label>
            </div>
            <div class="form-group">
                <button type="submit"><i class="fas fa-sign-in-alt"></i> Login</button>
            </div>
            <div class="form-group">
                <a href="{{ url_for('auth.forgot_password') }}"><i class="fas fa-question-circle"></i> Forgot Password?</a>
            </div>
        </form>
        <div class="social-login">
            <button class="google-login"><i class="fab fa-google"></i> Login with Google</button>
            <button class="facebook-login"><i class="fab fa-facebook"></i> Login with Facebook</button>
        </div>
        <div class="signup-link">
            <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></p>
        </div>
        <div class="error-message" id="error-message"></div>
    </main>



    <footer>
        <nav>
            <ul>
                <li><a href="{{ url_for('home.index') }}">Home</a></li>
                <li><a href="{{ url_for('home.about') }}">About</a></li>
                <li><a href="{{ url_for('home.contact') }}">Contact</a></li>
            </ul>
        </nav>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <!-- Add any additional JavaScript here -->
</body>
</html>
