<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campus Connect</title>
    <link rel="stylesheet" href="{{ url_for('static', filename="css/index.css") }}">
  </head>

  <body>
    <header class="hero">
      <div class="hero-content">
        <h1>Welcome to Campus Connect</h1>
        <p>Karibu Inka.</p>
        <p>Your trusted partner to sell, find, rent, and rent out properties.</p>
        <button class="cta-button">Get Started</button>
      </div>
    </header>
  </body>
</html>
